.h-100{
    #toast-container {
        div {
            width: 350px;
        }
        .toast-success {
            background-color: rgba(0, 123, 255, 0.2);
            color: #3D5170;
            background-image: none !important;
            padding: 15px;
            border: 1px solid #007BFF;
            border-radius: 10px;
        }
        .toast-error {
            background-color: rgba(235, 87, 87, 0.2);
            color: #3D5170;
            background-image: none !important;
            padding: 15px;
            border: 1px solid #EB5757;
            border-radius: 10px;
        }
        .toast-close-button {
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
.multiselect.is-invalid {
    .multiselect__tags {
        border-color: #c4183c;
        box-shadow: 0 5px 11.5px rgba(196, 24, 60, 0.1);
    }
    //.multiselect__select::before{
        //display: none;
    //}
}
.breadcrumb {
    background-color: #fff !important;
    padding: 1.25rem 1rem 0.75rem 1rem !important;
    margin-bottom: 0 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    //content: ">" !important;
}
.top-nav.nav-link {
    padding: 1.25rem 1rem 0.75rem 1rem;
}
.parsley-errors-list{
    list-style-type: none;
    padding-left: 0;
    color: red;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgba(0, 123, 255, 0.2) !important;
}

.form-control {
    height: auto !important;
    padding: 0.4375rem 0.75rem !important;
    border: 1px solid #e1e5eb !important;
}
#request-discussion {
    .d-content {
        font-size: 12px;
    }
}
.main-sidebar .dropdown-menu .dropdown-item {
    padding-left: 55px !important;
}
i#operatingAction{
    display: block;
    width: 100% !important;
}
.content .dropdown-menu.show {
    transform: translate3d(-100px, 15px, 0px) !important;
}

.form-wrap.form-builder .frmb .form-elements input[type=text].option-value{
    display: none !important;
}
